
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary{
    color: #FD6E0A
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
.dark-2{
    color: #474747;
    margin-right: 50px;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    border: none;
    font-size: 20px;
    padding:18px 35px;
    border-radius: 5px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav li a {
    text-decoration: none;
}
/* banner er styles */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-profile-pic{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 600px;
}
/* header */
.header{
    background-image:url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.secondary-bg{
    font-size: 18px;
    background-color: #FFF8F3;
}
 /* .section-title{ 
    font-size: 30px;
    font-weight: bold;
} 
.section-title{
    align-items: center;
    display: flex;
}  */
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
} 
.section-til{
    font-size: 30px;
    font-weight: bold;
}
.about-items{
   display: flex;
   justify-content: space-around; 
}
.item-description{
    font-weight: bold;
}
.text-center{
    text-align: center;
}
.fa-html5{
    font-size: 50px;
}
.fa-css3{
    font-size: 50px;
}
/* skills section styles */
.skills-container{
    display: flex;
   gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume section container */
.resume-container{
    display: flex;
    gap: 24px; 
}
.exercise-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}
.exercise-description , .exercise-sub-title{
    color: #757575;
}
.resume-download-cv{
    margin-top: 50px;
}
/* footer styles  */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
       height:64px;
       border-radius: 5px;
       background-color: white;
       display: block;
       width: 100%;
       padding: 10px 15px;
       margin-bottom: 24px;
       border: none;

}